In [12]:
import pandas as pd
train = pd.read_csv("train.tsv", sep="\t", index_col="PhraseId")
print(train.shape)
train.head()

#train 파일은 sentiment 영화 별점이 있는데 test는 없기 때문에 일단 둘 다 불러온다. 불러와서 두 개를 비교해서 test에 별점을 매겨주는 것이다.

(156060, 3)

,SentenceId,Phrase,Sentiment
PhraseId,,,
1,1,A series of escapades demonstrating the adage ...,1
2,1,A series of escapades demonstrating the adage ...,2
3,1,A series,2
4,1,A,2
5,1,series,2

In [13]:
test = pd.read_csv("test.tsv", sep="\t", index_col="PhraseId")
print(test.shape)
test.head()

# test를 불러온 것이다.

(66292, 2)

          SentenceId                                             Phrase
PhraseId
156061          8545  An intermittently pleasing but mostly routine ...
156062          8545  An intermittently pleasing but mostly routine ...
156063          8545                                                 An
156064          8545  intermittently pleasing but mostly routine effort
156065          8545         intermittently pleasing but mostly routine

In [14]:
train["Phrase(origin)"] = train["Phrase"].copy()
print(train.shape)
train[["Phrase(origin)","Phrase"]].tail()

#바꾸고 싶은 내용이 있어서 Pharase를 복사해서 바꿔주기 위해 원본은 그대로 유지하기 위해 놔둔다.

(156060, 4)

                     Phrase(origin)                     Phrase
PhraseId
156056                    Hearst 's                  Hearst 's
156057    forced avuncular chortles  forced avuncular chortles
156058           avuncular chortles         avuncular chortles
156059                    avuncular                  avuncular
156060                     chortles                   chortles

In [15]:
test["Phrase(origin)"] = test["Phrase"].copy()
print(test.shape)
test[["Phrase", "Phrase(origin)"]].head

(66292, 3)

<bound method NDFrame.head of                                                      Phrase  \
PhraseId
156061    An intermittently pleasing but mostly routine ...
156062    An intermittently pleasing but mostly routine ...
156063                                                   An
156064    intermittently pleasing but mostly routine effort
156065           intermittently pleasing but mostly routine
...                                                     ...
222348               A long-winded , predictable scenario .
222349                 A long-winded , predictable scenario
222350                                      A long-winded ,
222351                                        A long-winded
222352                                 predictable scenario

                                             Phrase(origin)
PhraseId
156061    An intermittently pleasing but mostly routine ...
156062    An intermittently pleasing but mostly routine ...
156063                                                   An
156064    intermittently pleasing but mostly routine effort
156065           intermittently pleasing but mostly routine
...                                                     ...
222348               A long-winded , predictable scenario .
222349                 A long-winded , predictable scenario
222350                                      A long-winded ,
222351                                        A long-winded
222352                                 predictable scenario

[66292 rows x 2 columns]>

In [16]:
def clean_text(phrase):
    phrase = phrase.replace(" doesn't","does not")
    phrase = phrase.replace(" can't","can not")
    phrase = phrase.replace(" n't","not")
    return phrase

train["Phrase"] = train["Phrase"].apply(clean_text)
print(train.shape)
train[["Phrase","Phrase(origin)"]].iloc[251]

#바꾸고 251행에 잘 바뀌어져있는지 확인했다.

(156060, 4)

Phrase             doesnot
Phrase(origin)    does n't
Name: 252, dtype: object

In [17]:
test["Phrase"] = test["Phrase"].apply(clean_text)
print(test.shape)
test[["Phrase","Phrase(origin)"]].iloc[251]

#단어 바뀐거 확인

(66292, 3)

Phrase            's not
Phrase(origin)    's not
Name: 156312, dtype: object

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(max_features=10000, ngram_range=(1,2))
vectorizer

# Count 갯수가 많을수록 중요하다고 생각하는 것이다. 문장 안에 많이 발생하는 단어가 중요한 것이다.

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=10000, min_df=1,
                ngram_range=(1, 2), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [19]:
vectorizer.fit(train["Phrase"])
X_train = vectorizer.transform(train["Phrase"])
X_train

<156060x10000 sparse matrix of type '<class 'numpy.int64'>'
	with 1142296 stored elements in Compressed Sparse Row format>

In [9]:
# columns = vectorizer.get_feature_names()
# columns

# pd.DataFrame(X_train[:100].toarray(),
#              columns=columns).head()
# X_test = vectorizer.transform(train["Phrase"])
# X_test

In [20]:
vectorizer.fit(train["Phrase"])

columns = vectorizer.get_feature_names()

pd.DataFrame(X_train[:100].toarray(),
             columns=columns).head()



# get_feature로 가지고 와서 numpy 배열로 맞추고 이름에 맞춰서 정렬.

,000,10,10 minutes,10 year,100,101,11,12,12 year,13,...,yourself,youth,youthful,yu,zany,zeal,zero,zhang,zombie,zone
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
X_test = vectorizer.transform(test["Phrase"])
X_test

<66292x10000 sparse matrix of type '<class 'numpy.int64'>'
	with 417572 stored elements in Compressed Sparse Row format>

In [22]:
y_train = train["Sentiment"]
print(y_train.shape)
y_train.head()
# y_test = test["Sentiment"]
# print(y_test.shape)
# y_test.head()

(156060,)

PhraseId
1    1
2    2
3    2
4    2
5    2
Name: Sentiment, dtype: int64

In [23]:
from sklearn.linear_model import SGDClassifier
model = SGDClassifier(random_state=37)
from sklearn.model_selection import cross_val_predict
y_predict = cross_val_predict(model, X_train, y_train, cv=5)
print(y_predict.shape)
y_predict[:10]

#SGDClassifier - 정답을 찾아가는 최적화 알고리즘 -

(156060,)

array([3, 2, 2, 2, 2, 2, 2, 2, 2, 2], dtype=int64)

In [25]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_train, y_predict)
print("Score = {0:.5f}".format(score))

Score = 0.57592

In [26]:
import numpy as np
result = train.copy()
result["Sentiment(predict)"] = y_predict
result["Difference(Pharse)"] = np.abs(y_train - y_predict)

print(result.shape)
result.head()

(156060, 6)

,SentenceId,Phrase,Sentiment,Phrase(origin),Sentiment(predict),Difference(Pharse)
PhraseId,,,,,,
1,1,A series of escapades demonstrating the adage ...,1,A series of escapades demonstrating the adage ...,3,2
2,1,A series of escapades demonstrating the adage ...,2,A series of escapades demonstrating the adage ...,2,0
3,1,A series,2,A series,2,0
4,1,A,2,A,2,0
5,1,series,2,series,2,0

In [28]:
sentiment = result["Sentiment(predict)"]
def find_sentiment(sentence_id):
    return sentiment.loc[sentence_id]

In [29]:
result["Difference(Sentence)"] = result["SentenceId"].apply(find_sentiment)

In [30]:
reuslt = result.sort_values(by="Difference(Sentence)",ascending=False)
print(result.shape)
result.head()

(156060, 7)

,SentenceId,Phrase,Sentiment,Phrase(origin),Sentiment(predict),Difference(Pharse),Difference(Sentence)
PhraseId,,,,,,,
1,1,A series of escapades demonstrating the adage ...,1,A series of escapades demonstrating the adage ...,3,2,3
2,1,A series of escapades demonstrating the adage ...,2,A series of escapades demonstrating the adage ...,2,0,3
3,1,A series,2,A series,2,0,3
4,1,A,2,A,2,0,3
5,1,series,2,series,2,0,3

In [31]:
result[0:1000].to_csv("result.csv")
vocabulary = vectorizer.get_feature_names()
vocabulary[0:3]

['000', '10', '10 minutes']

In [32]:
pd.DataFrame(vocabulary, columns=["word"]).to_csv("vocabulary.csv")
result[result["Phrase"].str.contains("can not recommend")]

# pharase result안에서 can not recommend를 가지고 있는 걸 출력해봐라.

,SentenceId,Phrase,Sentiment,Phrase(origin),Sentiment(predict),Difference(Pharse),Difference(Sentence)
PhraseId,,,,,,,
22224,998,"I admire it and yet can not recommend it , bec...",1,"I admire it and yet can not recommend it , bec...",3,2,2
22225,998,"admire it and yet can not recommend it , becau...",1,"admire it and yet can not recommend it , becau...",3,2,2
22226,998,"admire it and yet can not recommend it , becau...",2,"admire it and yet can not recommend it , becau...",3,1,2
22229,998,"yet can not recommend it , because it overstay...",1,"yet can not recommend it , because it overstay...",1,0,2
22230,998,"can not recommend it , because it overstays it...",1,"can not recommend it , because it overstays it...",1,0,2

In [33]:
model.fit(X_train, y_train)
predictions = model.predict(X_test)
print(predictions.shape)
predictions[0:10]

#우리의 데이터를 적용시켜서 적용한 버전에 테스트에서 사용한 문장이 들어갔을 때는 뭘로 예측이 될 것인가를 predictions로 저장이 되는건가.

(66292,)

array([3, 3, 2, 3, 3, 3, 3, 2, 3, 2], dtype=int64)

In [35]:
submission = pd.read_csv("sampleSubmission.csv", index_col="PhraseId")
submission["Sentiment"] = predictions
print(submission.shape)
submission.head()

(66292, 1)

          Sentiment
PhraseId
156061            3
156062            3
156063            2
156064            3
156065            3

In [36]:
submission.to_csv("baseline-script.csv")

In [5]:
from nltk.stem import SnowballStemmer
s = SnowballStemmer('english')
print(s.stem('graphics'))
print(s.stem('image'))
print(s.stem("imageine"))
print(s.stem("buying"))
s.stem("buys")

from sklearn.feature_extraction.text import CountVectorizer
class StemmedCountVectorizer(CountVectorizer):
    def build_analyzer(self):
        analyzer = super(StemmedCountVectorizer, self).build_analyzer()
        english_stemmer = SnowballStemmer('english')
        return lambda doc: (english_stemmer.stem(w) for w in analyzer(doc))
    
vectorizer = StemmedCountVectorizer(min_df=1, stop_words='english')

graphic
imag
imagein
buy